<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saravana Stores</title>
    <style>
        .body{
    background-color: rgb(110, 34, 181);
    }
    .header{
        padding: 10px;
        text-align: center;
        background-color: rgb(31, 253, 253);
    }

    .button1{
        margin:10px;
        padding:5px;
        display:flex;
        justify-content: center;
    }

    .button2{
        margin:15px;
        padding:5px;
        display:flex;
        justify-content:center;
    }
    </style>
</head>
<body>
    <div class="header"><h1>Welcome to Saravana Stores</h1></div>
    <div class="button1"></div>
    <button class="style"><a href="admin/">Click here to Login Admin Page</a></button></div>

<br>
   <div class="button2">
    <button class="style"><a href="types.html">Click here to View your Category</a></button></div>
</body>
</html>